*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.top{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    
}
.a{
    font-size: 250px;
    position: absolute;
    left: 1250px;
    top: 250px;
    
}
h1{
  position: absolute;
  left:1500px;
  top:800px;
}

